// Footer
#footer
  .shell
    p.left
      a(href='#') Главная
      span |
      a(href='about.html') О нас
      span |
      a.active(href='contact.html') Контакты
    p.right
      | Copyright © Easy Partnership LLC |  Design by Armen Grigoryan