- var page = 'about'
include parts/header.jade
.shell
  br
.shell
  div
    div(align='center')
      img(src='css/images/ep-logo.png', width='400px', alt='')
    p.font12 О компании
    // <img src="css/images/post-image2.gif" alt="" class="right" /> 
    p
      | Наша компания– это молодая команда, работающая в сфере предоставления полного спектра услуг в области телекоммуникаций и аутсорсинга.
      | Компания оказывает услуги государственным и коммерческим заказчикам в области продвижения товаров и услуг с использованием
      | современных электронных коммуникационных технологий. Каждому клиенту мы предлагаем индивидуальный подход и оптимизированное
      | решение в зависимости от типа и размера предприятия или организации. Весь комплекс работ производится высококвалифицированным персоналом.
      | Наше главное отличие - мы не просто обслуживаем звонки, мы используем весь опыт группы нашей  компании для достижения необходимого
      | Вам качественного результата по прямым контактам с Вашей целевой аудиторией.
    br
// End Slider
// Main
#main
  .shell
// End Main
// Footer
include parts/footer.jade 