- var page = 'contact'
include parts/header.jade
// Slider
.shell
  br
.shell
  div
    br
    h1 Контакты
// End Slider 
// Main
#main
  .shell
    #sidebar
      .post
        br
        p
          img(src='css/images/adres.png', width='8px', alt='')
          |    0040, РA, г. Ереван, Ачарян ул., 2/6
        p
          img(src='css/images/phone.png', width='12px', alt='')
          |    (+374 98) 733-709
        p
          img(src='css/images/pochta.png', width='12px', alt='')
          |    info@e-partnership.net
        br
        h2 Время работы
        p График работы колл-центра с 8:00 – 19:00 
        br
    #content
      .col
        .post
          div(align='center')
            img(src='css/images/pic-1.png', width='500px', alt='')
          .cl  
    .cl  
// End Main
// Footer
//- include parts/footer.jade   