- var page = 'index'
include parts/header.jade
#slider
  .shell
    .slider-left
      div(align='center')
        br
        br
        br
        h2 Невозможно - это не факт.
        h2 Это всего лишь мнение.
        // <img src="css/images/logo-100.jpg" width="280px" alt="" />
      // <a href="#" class="order-now">Order Now</a> 
    .slider-right
      .slider-content
        ul
          li
            img(src='css/images/slider-image1.jpg', alt='')
          li
            img(src='css/images/slider-image2.jpg', alt='')
          li
            img(src='css/images/slider-image3.jpg', alt='')
          li
            img(src='css/images/slider-image4.jpg', alt='')
      .slider-nav
        ul
          li
            a(href='#') 1
          li
            a(href='#') 2
          li
            a.active(href='#') 3
          li
            a(href='#') 4
// End Slider
// Main
#main
  .shell
    #sidebar
      .text-container
        h2 Услуги компании
        br
        h4 Входящие звонки
        h4 Исходящие звонки
        p 	  • обзвоны специалистами call-центра 
        p    • продажи по телефону
        p    • информирующие обзвоны
        p    • исследование удовлетворенности клиентов
        h4 Другие услуги 
        p    • Почтовые рассылки
        p 	  • sms-рассылки
        h4 Аренда call центра
        br
        

      .post
        h2 Вакансии
        img(src='css/images/post-image1.png', alt='')
        br
        br
        p
          | Если Вам интересна профессия оператора и Вы считаете, что достойны стать голосом многих компаний, то позвоните нам по телефону 
          br
          |  (+374 98) 40-01-40 за дополнительной информацией.
        br
    #content
      .col
        .post
          h2 О компании
          // <img src="css/images/post-image2.gif" alt="" class="right" />
          p
            | Наша компания– это молодая команда, работающая в сфере предоставления полного спектра услуг в области телекоммуникаций и аутсорсинга.
            | Компания оказывает услуги государственным и коммерческим заказчикам в области продвижения товаров и услуг с использованием
            | современных электронных коммуникационных технологий. Каждому клиенту мы предлагаем индивидуальный подход и оптимизированное
            | решение в зависимости от типа и размера предприятия или организации. Весь комплекс работ производится высококвалифицированным персоналом.
            | Наше главное отличие - мы не просто обслуживаем звонки, мы используем весь опыт группы нашей компании для достижения необходимого
            | Вам качественного результата по прямым контактам с Вашей целевой аудиторией.
          .cl  
      .col.cols-2
        .post
          //
            <h2>Who we are?</h2>
            <img src="css/images/post-image3.gif" alt="" class="right" />
          h2 Наша компания предлагает
          h4 Продажа по телефону
          p
            | Мы весьма заинтересованы в том, чтобы у Вас возрастало количество продаж. Ведь от этого напрямую зависит наш престиж.
            br
            |  Ваша продажа - наш успех!
          h4 Прием звонков на телефон
          p
            | Одна из услуг нашего call-центра — организация и последующая обработка телефонных звонков.
          h4 Почтовые рассылки
          p
            | Каждый текст будет соответствовать рекламным целям Вашей фирмы.
            | Сообщения будут доставлены тем, кому нужно, ведь мы очень тщательно выбираем адреса, когда готовим рассылки.
          br
          div.audio
            audio(controls)
             source(src="assets/file.mp3" type="audio/mpeg")
          br
          .cl  
      .col.cols-2.last
        .post
          h2 Преимущества
          p
            | • Возможность работать круглосуточно, причем в любое время интенсивность будет высокой
          p
            | • внимательное отношение к каждому конечному потребителю товаров либо услуг вашей фирмы
          p • охват целевой аудитории.
          br
          br
          h2 Гарантии
          p
            | • Грамотные обученные операторы, заточенные на назначение встреч и поиск заявок
          p  • Отсутствие скрытых платежей - Вы платите только за результат
          p  • Решение задач клиента - качественно и в срок!
          br
          img.right(src='css/images/post-image4.png', alt='')
          .cl  
    .cl   
// End Main
include parts/footer.jade
